@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Azure DevOps Training Session-Azure Devops</h1>
    <p>Learn More about DevOps From the PPT Created by Krishna Chaitanya <a href="https://LearnDevOps.com">Sample Web Page Created for Demo Purpose</a>.</p>
</div>
